h3 Start a Search
form.file-upload
  fieldset
    label(for='fileName') Name Your Search (for your records)
    input(type='text' required)
  fieldset
    label(for='file') Upload Your Fidelity Total Farm File
    input(type='file' accept='.csv' required)
  button.submit Upload File
img(src='/images/icons/close-button-icon.png')