img(src='/images/icons/close-button-icon.png')
h3 Start a Search
form.file-upload
  fieldset
    label(for='fileName') Name Your Search
    input(type='text' required)
  fieldset
    label(for='file') Upload Your File
    input(type='file' accept='.csv' required)
  button.submit Upload File