img(src='/images/icons/close-button-icon.png')
h3 Start a Search
form
  fieldset.form-floating
    input.form-control(type='text' name='fileName' placeholder='Name Your Search' required)
    label(for='fileName') Name Your Search
  fieldset.file-input
    label(for='file') Upload Your File
    input(type='file' accept='.csv' required)
  fieldset.form-floating.mb-3
    input.form-control(type='email' name='email' placeholder='Email Address' required)
    label(for='email') Email Address
button.submit.btn.btn-primarhy Upload File