div.fps-window-header
  img(src='/images/icons/close-window-white-icon.png')
  h3 FastPeopleSearch Results
iframe.fps-iframe
div.call-log-container
  div.call-log-header
    h3 Log a Call
  form.log-call
    fieldset.
    fieldset.form-floating.mb-3
      input.form-control(type='text' placeholder='Contact Person' name='contact-person')
      label(for='contact-peson') Who did you speak to?
    fieldset.form-floating.mb-3
      textarea.form-control(rows='5' placeholder='Call Notes' name='call-notes')
      label(for='call-notes') Call Notes
    fieldset.form-floating.mb-3
      input.form-control(type='number' placeholder='Save a phone number?' name='confirmed-number')
      label(for='confirmed-number') Save a phone number?
    button.submit.btn.btn-primary Log Call
