div.new-search-menu
  img(src='/images/icons/close-button-icon.png')
  h3 Start a Search
  form
    fieldset.form-floating.mb-3
      input.form-control(type='text' placeholder='Name Your Search' required)
      label(for='fileName') Name Your Search
    fieldset
      label.form-label(for='file') Upload Your File
      input.form-control.form-control-lg(type='file' accept='.csv' required)
  button.submit.btn.btn-primary Upload File