doctype html
html
  head
    meta(charset='utf-8')
    title Faster FastPeopleSearch
    block headStylesheets
      link(rel='stylesheet' href='/stylesheets/layout.css')
    block headJavaScripts
  body
    block main-content