doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Faster FastPeopleSearch
    block headStylesheets
      link(rel='stylesheet' href='/stylesheets/layout.css')
    block headJavascripts
  body
    if session.signedIn
      header
        block header-content
          span X
          h1 Farm Friend
          div.account-menu
            span v
            span O
      nav
        div.nav-menu
          h3 Faster FastPeopleSearch
        div.title-rep-menu
          span O
          span= "Ronna & Grant Luna"
          span Title Representative | Fidelity National Title
          span
          div.title-rep-menu-message
            span O
            input(type='text')
          
    main
      block main-content