doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Faster FastPeopleSearch
    block headStylesheets
      link(rel='stylesheet' href='/stylesheets/layout.css')
    block headJavascripts
  body
    if session.signedIn
      header
        h1 Header
      nav
        h3 Nav
    main
      block main-content