doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Farm Friend
    block headStylesheets
      link(rel='stylesheet' href='/stylesheets/layout.css')
    block headJavascripts
  body
    block header-content
      if session.signedIn
        header
          a(href='/')
            img.farm-friend-icon(src='/images/icons/farm-friend-white-text-icon.png')
          div.account-dropdown-icon
            img.account-menu-headshot(src='/images/headshots/grant-luna.png')
            img.dropdown-icon(src='/images/icons/dropdown-icon.png')
      nav
        ul.nav-menu
          li
            a(href='/searches') Faster FastPeopleSearch
          li
            a(href='/mapme') MapMe
        div.title-rep-menu
          img(src='/images/headshots/grant-luna.png')
          h4= "Grant Luna"
          p Title Representative | Fidelity National Title
          
    main
      block main-content