extends layout

block append headStylesheets
  link(rel='stylesheet' href='/stylesheets/searches.css')
block append headJavascripts
  script(src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js")
  script(src='/javascripts/searches.js' type='module')

block append main-content
  div.searches-header
    h3 Searches
  ul.searches-container
    li.new-search-container
      div
        h3 Start a Search
        img(src='/images/icons/black-add-icon.png')
    each search in userSearches
      li.user-search-container(data-id=search.id)
        h3= search.file_name
        div.user-search-information
          p #{search.json_data.length} Contacts
          p Date Created: #{search.date_created}
        img.delete-icon(src='/images/icons/trash-icon.png')
  include components/new-search-menu.pug
