extends layout

block append headStylesheets
  link(rel='stylesheet' href='/stylesheets/searches.css')
block append headJavascripts
  script(src='/javascripts/searches.js')
block main-content
  h3 Start a Search
  button.sign-out Sign Out