extends layout

block append headStylesheets
  link(rel='stylesheet' href='/stylesheets/searches.css')
block append headJavascripts
  script(src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js")
  script(src='/javascripts/searches.js' type='module')

block main-content
  h1 Welcome Back
  h3  Looking for Something?
  input.past-searches-search-bar(type='text')
  ul.user-searches-container
    each search in userSearches
      li.user-search-container(data-id=search.id)= search.file_name
