extends layout

block append headStylesheets
  link(rel='stylesheet' href='/stylesheets/sign-up.css')
block append headJavaScripts
  script(src='/javascripts/sign-up.js')
block main-content
  h3 Sign In Up
  form
    label(for='firstName') First Name
    input(type='text')