@import "whitespace-reset.css";

html {
  --dark-blue: #051D40;
  --white: #FFFFFF;
  --grey: #F9F8F8;
  --light-font: #F5F4F3;
  --dark-font: #1E2021;
  --asana-header-grey: #2E2E30;
  --asana-nav-grey: #2E2E30;
}

body {
  display: grid;
  grid-template-areas: "header header header header"
                       "nav main main main"
                       "nav main main main";
  grid-template-columns: 240px repeat(3, 1fr);                     
  grid-template-rows: 7.5% repeat(2, 1fr);
}

header, nav {
  background-color: var(--asana-header-grey);
  color: var(--light-font);
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

main  {
  grid-area: main;
  background-color: var(--grey);
}