@import "whitespace-reset.css";

html {
  --dark-blue: #051D40;
  --white: #FFFFFF;
  --grey: #F9F8F8;
  --green: #45BD62;
  --light-font: #F5F4F3;
  --dark-font: #1E2021;
  --asana-header-grey: #2E2E30;
  --asana-nav-grey: #2E2E30;
  font-size: 16px;
}

body {
  display: grid;
  grid-template-areas: "header header header header"
                       "nav main main main"
                       "nav main main main";
  grid-template-columns: 240px repeat(3, 1fr);                     
  grid-template-rows: minmax(50px, 7.5%) repeat(2, 1fr);
  overflow: hidden;
}

header, nav {
  background-color: var(--asana-header-grey);
  color: var(--light-font);
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  flex-grow: 3;
}

.nav-menu a {
  color: inherit;
  text-decoration: none;
}

.title-rep-menu {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: .25rem;
}

.title-rep-menu img {
  width: 7rem;
  height: 7rem;
  border-radius: .5rem;
}

.title-rep-menu p {
  font-size: .75rem;
}

main  {
  grid-area: main;
  background-color: var(--grey);
}