@import "whitespace-reset.css";

html {
  --dark-blue: #051D40;
  --white: #FFFFFF;
  --grey: #F9F8F8;
  --green: #45BD62;
  --light-font: #F5F4F3;
  --dark-font: #1E2021;
  --asana-header-grey: #2E2E30;
  --asana-nav-grey: #2E2E30;
  --nav-hover-grey: rgba(255, 255, 255, 0.11);
  font-size: 16px;
  font-family: "myriad-pro", "myriad pro", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

body {
  display: grid;
  grid-template-areas: "header header header header"
                       "nav main main main"
                       "nav main main main";
  grid-template-columns: 240px repeat(3, 1fr);                     
  grid-template-rows: minmax(50px, 7.5%) repeat(2, 1fr);
  overflow: hidden;
}

header, nav {
  background-color: var(--dark-blue);
  color: var(--light-font);
}

header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: .5px solid var(--light-font);
  position: relative;
}

.account-dropdown-icon {
  display: flex;
  align-items: center;
  gap: .25rem;
}

.account-dropdown-icon:hover {
  cursor: pointer;
  opacity: 70%;
}

.account-menu-headshot {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.dropdown-icon {
  width: .5rem;
  height: .5rem;
}

.account-dropdown-menu {
  position: absolute;
  top: -.1rem;
  right: 0;
  background-color: var(--dark-blue);
  z-index: 2;
  color: var(--white);
  display: flex;
  flex-direction: column;
  border-radius: .15rem;
  width: 240px;
}

.account-dropdown-menu-header {
  padding: .5rem;
  border-bottom: 1px solid var(--grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
}

.account-dropdown-menu-header img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.account-dropdown-menu-items > * {
  padding: .5rem 1rem;
}

.account-dropdown-menu-items > *:hover {
  cursor: pointer;
  background-color: var(--nav-hover-grey);
}

nav {
  grid-area: nav;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  flex-grow: 3;
}

.nav-menu a,
.title-rep-menu {
  padding: .5rem;
  margin-left: .5rem;
  margin-right: .5rem;
}

.nav-menu a {
  color: inherit;
  text-decoration: none;
  display: block;
  border-radius: .5rem;
}

.nav-menu a:hover {
  cursor: pointer;
  background-color: var(--nav-hover-grey);
}

.title-rep-menu {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: .25rem;
  justify-content: flex-end;
  padding-bottom: 2rem;
}

.title-rep-menu img {
  width: 7rem;
  height: 7rem;
  border-radius: .5rem;
}

.title-rep-menu p {
  font-size: .75rem;
}

main  {
  grid-area: main;
  background-color: var(--grey);
  position: relative;
}