main {
  display: grid;
  grid-template-rows: 10% 90%;
  position: relative;
}

.searches-header {
  background-color: var(--white);
  justify-self: center;
  align-self: center;
}

.searches-header img {
  width: 4rem;
  height: 4rem;
}

.searches-header h3 {
  font-size: 1.5rem;
}

.searches-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: repeat(auto-fill, 125px);
  grid-auto-rows: 125px;
  gap: .75rem;
  justify-content: start;
  width: 90%;
  overflow-y: auto;
  background-color: var(--nav-hover-grey);
  justify-self: center;
}

.searches-container > * {
  padding: .25rem;
  border: 1px solid black;
  border-radius: .5rem;
  margin-bottom: .25rem;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.2);
}

.searches-container > *:hover {
  cursor: pointer;
  opacity: 70%;
}

.searches-container h3 {
  font-size: 1rem;
}

.new-search-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-search-container div {
  display: flex;
  align-items: center;
}

.new-search-container img {
  width: 1.75rem;
  height: 1.5rem;
}

.new-search-menu {
  position: absolute;
  background-color: var(--white);
  padding: 1rem;
  border-radius: .5rem;
  top: 25%;
  left: 25%;
  width: 50%;
  min-width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.2);
  border: 3px solid var(--dark-font);
  margin: 0 auto;
}

.new-search-menu h3 {
  margin: 0 auto;
  font-size: 1.5rem;
}

.new-search-menu img {
  width: 1.75rem;
  height: 1.5rem;
  position: absolute;
  top: .5rem;
  left: .5rem;
}

.new-search-menu img:hover {
  cursor: pointer;
  opacity: 70%;
}

.user-search-container img {
  width: 1.75rem;
  height: 1.5rem;
}

.user-search-container img:hover {
  opacity: 70%;
}

form.file-upload {
  border-radius: .5rem;
  padding: .5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 90%;
}

form.file-upload > * {
  display: flex;
  gap: .5rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

form.file-upload label {
  font-size: 1.25rem;
}


form.file-upload input[type="text"] {
  padding: .5rem;
  border-radius: .25rem;
}

form.file-upload input[type="text"]:focus {
  outline: none;
}

.new-search-menu .submit {
  padding: .5rem;
  border-radius: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 200px;
  font-size: 1.25rem;
}

.new-search-menu .submit:hover {
  cursor: pointer;
  opacity: 70%;
  background-color: #051D40;
  color: var(--white);
  border-color: var(--white);
}


