main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .75rem;
}

.user-searches-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fill, 100px);
  grid-auto-rows: 100px;
  gap: 10px;
  justify-content: start;
  width: 90%;
  overflow-y: auto;
}

.user-searches-container > * {
  padding: .25rem;
  border: 1px solid black;
  border-radius: .5rem;
  margin-bottom: .25rem;
}

.user-searches-container > *:hover {
  cursor: pointer;
  opacity: 70%;
}

.user-searches-container h3 {
  left: .75rem;
  font-size: 1rem;
}

.new-search-container div {
  display: flex;
  align-items: center;
}

.new-search-container img {
  width: 2rem;
  height: 2rem;
}



