.fps-window {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 40%;
  background-color: var(--dark-blue);
  display: grid;
  grid-template-rows: 5% 80% 15%;
}

.fps-window > * {
  border: 1px solid red;
}

.fps-window-header {
  display: flex;
}

#some-image {
  width: 1px;
  height: 1px;
  border: 1px solid red;
}

.fps-iframe {
  height: 100%;
  width: 100%;
}